@page "/Listbyvacuna"
@using Data.Models
@using Microsoft.EntityFrameworkCore
@inject vacunaContext vc
@inject IJSRuntime JS;

<h3 class="titulocantvacuna">Cantidad de personas vacunadas por vacuna</h3>

<div>
    <canvas id="myChart" width="800" height="400"></canvas>
</div>

<div class="contenido-counts">
    @foreach (var v in vacunas)
    {
        <div class="small-box">
            <div class="inner">
                <h3>@(v.CantidadEntrante - v.CantidadRestante)</h3>
                <p>@v.Marca</p>
            </div>
            <div class="icon">
                <i class="oi oi-person"></i>
            </div>
        </div>
    }
    @* <div class="small-box">
        <div class="inner">
            <h3>150</h3>
            <p>Astrazeneca</p>
        </div>
        <div class="icon">
            <i class="oi oi-person"></i>
        </div>
    </div>
    <div class="small-box">
        <div class="inner">
            <h3>150</h3>
            <p>Pfizer</p>
        </div>
        <div class="icon">
            <i class="oi oi-person"></i>
        </div>
    </div>
    <div class="small-box">
        <div class="inner">
            <h3>150</h3>
            <p>Sinovac</p>
        </div>
        <div class="icon">
            <i class="oi oi-person"></i>
        </div>
    </div> *@
</div>

<div class="alert alert-success" role="alert">
  Listado de vacunas
</div>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>
           <button type="button" class="btn btn-info"><i class="io io-plus"></i></button> 
           <button type="button" class="btn btn-danger"><i class="io io-trash"></i></button> 
        </td>
    </tr>

</table>



@code {
    private List<Vacuna> vacunas = null;
    
    protected override void OnInitialized() {
        vacunas = vc.Vacunas.ToList();
    }

    protected override void OnAfterRender(bool firstRender) {
        List<string> marcas = new List<string>();
        List<int> datos = new List<int>();
        foreach (var v in vacunas) {
            marcas.Add(v.Marca);
            datos.Add(v.CantidadEntrante - v.CantidadRestante);
        }
        JS.InvokeVoidAsync("vacunasChart", marcas, datos);
    }
}
