@page "/Listbyvacuna"
@using Data.Models
@using Microsoft.EntityFrameworkCore
@inject vacunaContext vc

<h3 class="titulocantvacuna">Cantidad de personas vacunadas por vacuna</h3>

<div class="contenido-counts">
<div class="small-box">
    <div class="inner">
        <h3>150</h3>
        <p>Astrazeneca</p>
    </div>
    <div class="icon">
        <i class="oi oi-person"></i>
    </div>
</div>
<div class="small-box">
    <div class="inner">
        <h3>150</h3>
        <p>Pfizer</p>
    </div>
    <div class="icon">
        <i class="oi oi-person"></i>
    </div>
</div>
<div class="small-box">
    <div class="inner">
        <h3>150</h3>
        <p>Sinovac</p>
    </div>
    <div class="icon">
        <i class="oi oi-person"></i>
    </div>
</div>
</div>

<div class="alert alert-success" role="alert">
  Listado de vacunas
</div>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>
           <button type="button" class="btn btn-info"><i class="io io-plus"></i></button> 
           <button type="button" class="btn btn-danger"><i class="io io-trash"></i></button> 
        </td>
    </tr>

</table>



@code{

}
