@page "/Listbyvacuna"

<h3 class="titulocantvacuna">Cantidad de personas vacunadas por vacuna</h3>

<div class="contenido-counts">
<div class="small-box">
    <div class="inner">
        <h3>150</h3>
        <p>Astrenezca</p>
    </div>
    <div class="icon">
        <i class="oi oi-person"></i>
    </div>
</div>
<div class="small-box">
    <div class="inner">
        <h3>150</h3>
        <p>Astrenezca</p>
    </div>
    <div class="icon">
        <i class="oi oi-person"></i>
    </div>
</div>
<div class="small-box">
    <div class="inner">
        <h3>150</h3>
        <p>Astrenezca</p>
    </div>
    <div class="icon">
        <i class="oi oi-person"></i>
    </div>
</div>
</div>
@code{
    
}